# build outputs
build/

# Qt / CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
moc_*.cpp
*_autogen/

#cahced files
.cache/
# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Profiles (local data)
profiles/
